{% load static %}
<div
  id="basic_info"
  style="
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    flex-direction: column;
  "
>
  <div
    style="display: flex; justify-content: space-around; align-items: center"
  >
    <div style="width: 20%"><h6>ID</h6></div>
    <div style="width: 20%"><h6>{{client.id}}</h6></div>
  </div>
  <div
    style="display: flex; justify-content: space-around; align-items: center"
  >
    <div style="width: 20%"><h6>NOM</h6></div>
    <div style="width: 20%"><h6>{{client.name}}</h6></div>
  </div>
  <div
    style="display: flex; justify-content: space-around; align-items: center"
  >
    <div style="width: 20%"><h6>RC</h6></div>
    <div style="width: 20%">
      <input
        id="cc"
        class="form-control"
        type="text"
        data-inputmask=""
        placeholder="{{client.x_rc}}"
        value="{{client.x_rc}}"
        name="rc"
      />
    </div>
  </div>
  <div
    style="display: flex; justify-content: space-around; align-items: center"
  >
    <div style="width: 20%"><h6>NIF</h6></div>
    <div style="width: 20%">
      <input
        type="text"
        class="form-control"
        placeholder="{{client.x_nif}}"
        value="{{client.x_nif}}"
        mask="9{16}0{3}"
        maxlength="20"
        name="nif"
      />
    </div>
  </div>
  <div
    style="display: flex; justify-content: space-around; align-items: center"
  >
    <div style="width: 20%"><h6>NIS</h6></div>
    <div style="width: 20%">
      <input
        type="text"
        class="form-control"
        placeholder="None"
        value="None"
        maxlength="15"
        name="nis"
      />
    </div>
  </div>
  <div
    style="display: flex; justify-content: space-around; align-items: center"
  >
    <div style="width: 20%"><h6>ART</h6></div>
    <div style="width: 20%">
      <input
        type="text"
        class="form-control"
        placeholder="{{client.x_art}}"
        value="{{client.x_art}}"
        name="art"
      />
    </div>
  </div>
  <div style="display: flex; justify-content: space-around">
    <div style="width: 20%"><h6></h6></div>
    <div style="width: 20%">
      <div
        style="
          display: flex;
          justify-content: space-evenly;
          margin-top: 2%;
          align-items: center;
        "
      >
        <label for="est_particulier">Est particulier ?</label
        ><input type="checkbox" id="est_particulier" name="est_particulier" />
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/jquery-1.js' %}"></script>
<script src="{% static 'js/robinHerbots.js' %}"></script>
<script src="{% static 'js/detailClient.js' %}"></script>
